  <table class="table">
    <thead>
    <tr>
      <th>Заголовок</th>
      <th>Текст</th>
      <th>Цена</th>
      <th>Вес</th>
    </tr>
    </thead>
    <tbody>
    <%  @ms.each do |m| %>
    <tr>
        <td><%= m.head %></td>
        <td><%= m.text %></td>
        <td><%= m.pr %></td>
        <td><%= m.ves %></td>
    <tr>
    <% end %>
    </tbody>
   </table>