<h3>Изменить проект</h3>

<%= form_for @project, url: project_path(@project), method: :patch do |f| %>   <!--название формы, url куда перейти-->


  <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row bg-white shadow-sm">
      <div class="col border rounded p-4">

        <h3>Изменить проект</h3>

        <p>
          Имя<br/>
          <%= f.text_field :name  %>
        </p>

  <div style="margin: 50px;">
    <div class="content-1">
      <p>Контент 1...</p>
              <button type="button"  id="move1">Переместить кнопку в другое место1</button>
              <button type="button"  id="move2">Переместить кнопку в другое место2</button>        
              <button type="button"  id="move3">Переместить кнопку в другое место3</button>

        
    </div>
    <div class="content-2">
      <p>Контент 2...</p>
    </div>
  </div>

        <%= f.submit "Отправить" %>
        </p>

      </div>
    </div>
  </div>

<% end %>
