  <table class="table">
    <thead>
    <tr>
      <th>Текст</th>
      <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>

      <%  @msql.each do |m| %>

      <tr>
        <th scope="row"><%= m.name %></th>
        <td>
            <% m.inspect %>

          <% m.dictionars.each do |a|  %>
            <% a["_id"] %>

            <% @msqld.each do |b|%>

              <% if b.id == a["_id"] %>
                <span class="border border-primary"><%= b.ves %></span>
                <span class="border border-success"><%= b.word %></span>
                <span class="border border-info"><%= b.comment %></span>
                <br/>
              <% end %>

            <% end %>

          <% end %>






            </td>
      </tr>
    <% end %>
    </tbody>
  </table>